# Pattern

In [73]:
n=3
a=65
for i in range(n):
    for j in range(i+1):
        print(a,end=' ')
        a=a+1
    print()

65
66 67
68 69 70

In [89]:
n=5
a=65
for i in range(n):
    for j in range(i+1):
        print(chr(a),end=' ')
        a=a+1
    print()

A
B C
D E F
G H I J
K L M N O

In [90]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [91]:
n=5
for i in range(n):
    a=0
    for j in range(i,n):
        print(a,end=" ")
        a+=1
    print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [92]:
n=5
a=10
for i in range(n):
    for j in range(i,n):
        print(a,end=" ")
        a+=1
    print()

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [93]:
n=5
for i in range(n):
    a=10
    for j in range(i,n):
        print(a,end=" ")
        a+=1
    print()

10 11 12 13 14
10 11 12 13
10 11 12
10 11
10

In [94]:
n=5
for i in range(n):
    for j in range(i,n):
        print(j+1,end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [88]:
n=5
for i in range(n):
    for j in range(0,n-i):
        if j%2==0  :
          print(1,end=" ")
        else:
            print(0,end=' ')
    print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [96]:
n=5
for i in range(n):
    print('*' * (n-i))

*****
****
***
**
*

In [1]:
n=5
a=1
for i in range(n):
    for j in range(i,n):
        if j%2==0  :
          print(a,end=" ")
          
        else:
            print(0,end=' ')
    a+=1    
    print()

1 0 1 0 1
0 2 0 2
3 0 3
0 4
5

In [2]:
n=5
for i in range(n):
     for j in range(i+1):
        print('*', end='')
     print( )

*
**
***
****
*****

In [99]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ', end='')
    for j in range(i+1):
        print('*', end='')
    print( )

     *
    **
   ***
  ****
 *****

In [100]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ', end='')
    print()

In [101]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*', end='')
    print()

*****
****
***
**
*

In [102]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ', end='')
    for j in range(i,n):
        print('*', end='')    
    print()

 *****
  ****
   ***
    **
     *

In [103]:
n=5
a=1
for i in range(n):
    for j in range(i+1):
        if j==0 or j==i or i==n-1:
           print(a,end=' ')
        else:
            print(' ',end=' ')
        a+=1    
    print()

1
2 3
4   6
7     10
11 12 13 14 15

In [104]:
n=5
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [1]:
n=5
for i in range(n):
    for j in range(n):
        if j==0 or i==n-1 or j==i:
            print('*', end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

In [4]:
n=5
for i in range(n):
    for j in range(n):
        if  i==0 or j==0  or j==n-i-1:
            print('*',end=' ')
        else:
            print(' ', end=' ')
    print( )

* * * * *
*     *
*   *
* *
*

In [5]:
n=5
for i in range(n):
    for j in range(n):
         if i==0  or i==j or j==n-1:
             print('*',end=' ')
         else:
             print(' ',end=' ')
    print()

* * * * *
  *     *
    *   *
      * *
        *

In [7]:
n=5
for i in range(n):
  for j in range(n):
     if j==n-1 or i==n-1 or i+j==n-1:
        print('*',end="")
     else:
        print(" ",end='')
  print()

    *
   **
  * *
 *  *
*****

In [109]:

n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [110]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [111]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i):      ## for j in range(0,2*i+1):
    print("*",end=" ")
  for j in range(i+1):
    print("*",end=" ")
         
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [112]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end="")
    for j in range(i,n):
         print('*',end='')
    for j in range(i,n-1):
         print('*',end='')
    print()

 *********
  *******
   *****
    ***
     *

In [113]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i):
        print(' ',end=' ')    
    for j in range(i):
        print(' ',end=' ')  
    for j in range(i,n):
        print('*',end=' ')    
    print()   
for i in range(n):
    for j in range(i+1):
        print('*',end=" ")
    for j in range(i,n-1):
        print(' ',end=" ")
    for j in range(i,n-1):
        print(' ',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [114]:
for i in range(0,3):
    for j in range(0,2-i):
        print(' ',end='')
    for j in range(0,2*i+1):
        print('*',end='')
    print()

  *
 ***
*****

In [115]:
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n):
        print('*',end='')
    for j in range(i,n-1):
        print('*',end='')    
    print()

 *********
  *******
   *****
    ***
     *

In [8]:
n=5
for i in range(5,0,-1):
  for j in range(0,i):
      print(i, end='')
      i-=1
  print()

54321
4321
321
21
1

In [90]:
s='hello hey tushar'
s.split('h')
# for i in s.split(' '):
#     print(i)

['', 'ello ', 'ey tus', 'ar']

In [16]:
s='hello hey tushar'
x=s.split(' ')  # convert string into list
print(x)
" ".join(x)   # covert list into string

['hello', 'hey', 'tushar']

'hello hey tushar'

In [15]:
str='ababa'
sub_str={}
for i in range(len(str)):
    for j in range(i+1,len(str)+1):
        sub=str[i:j]
        if sub in sub_str:
            sub_str[sub]+=1
        else:
            sub_str[sub]=1
print(sub_str)

{'a': 3, 'ab': 2, 'aba': 2, 'abab': 1, 'ababa': 1, 'b': 2, 'ba': 2, 'bab': 1, 'baba': 1}

In [18]:
str='heyy'
list=[]
for i in range(len(str)):
    for j in range(i+1,len(str)+1):
        sub=str[i:j]
        list.append(sub)
print(list)

['h', 'he', 'hey', 'heyy', 'e', 'ey', 'eyy', 'y', 'yy', 'y']

In [3]:
list=[3,3,3,7,3,3]
list2=[]
for i in range(len(list)):
   if i not in list2:
       list2.append(list[i])
   else:
        print(list[i])

7

In [ ]:
'khokho','abab'
#symetric string
#'abcabd'  not symetric string

## Check symetric or not?

In [54]:
def check_symetric(str1):     # 'abcabd'  , 'abab'
    mid=len(str1)//2
    if len(str1)% 2 != 0:
       print('not symetric')
    elif str1[:mid]==str1[mid:]:
        print('symetric')
    else:
        print('not symetric')
# str1='khokho' 
check_symetric('khokho')

symetric

# List Practice

## 1.sorting the list

In [116]:
#using two loops
list2=[10,20,60,80,9]
for i in range(0,len(list2)):                       
    for j in range(i+1,len(list2)):
        if(list2[i]<list2[j]):                        #in ascending (>) write in if condition
            list2[i],list2[j]=list2[j],list2[i]      ##Swap the value
print('sorting=>',list2)

sorting=> [80, 60, 20, 10, 9]

In [117]:
#using single loop
list2=[10,20,60,80,9]
count=0
while len(list2)>count+1:
    if list2[count]> list2[count+1]:    # in decending use(<) in if condition
        temp = list2[count + 1]      #Swap the value using third variable
        list2[count + 1] = list2[count]
        list2[count] = temp
        if count>0:
           count=count-1
    else:        
        count=count+1
print(list2)

[9, 10, 20, 60, 80]

# Leetcode question--->Best time to buy and sell stock

In [118]:
prices=[7,1,5,3,6,4]
max=0
for i in range(0,len(prices)):
    for j in range(i,len(prices)):
        if(prices[j]-prices[i]>max):
            max=prices[j]-prices[i]
print("maxium profit ",max)

maxium profit  5

## 2.You have been given two list having same number of elements and you have to merge both the list by removing the duplicate elements but with a single loop?

In [119]:
list1=[1,2,3,5,3]
list2=[1,2,4,6,7]
#list1.extend(list2)
list3=[]
for i in list1+list2:
    if i not in list3: 
       list3.append(i)
print(list3)

[1, 2, 3, 5, 4, 6, 7]

# Leetcode question---> Two sum problem  (using single l)

In [120]:
num=[2,7,11,15]
target=9
dict={}
for i in range(len(num)):
    res=target-num[i]
    if res in dict:
        print([dict[res],i])
    dict[num[i]]=i

[0, 1]

## Method 2

In [2]:
num=[2,7,11,15]
target=9
start=0
end=3    #(len(num)-1)
for i in range(0,len(num)):
    if num[start]+num[end]>target:
        end-=1
    elif  num[start]+num[end]<target:
        start+=1  
print(start,end)

0 1

# Leetcod---> 3sum questions

In [56]:
nums=[-1,0,1,2,-1,-4]     #target=0
nums.sort()
for i in range(0,len(nums)):
    start=i+1
    end=len(nums)-1
    while(start<end):
        if(nums[i] + nums[start] + nums[end]==0):
            print(nums[i] , nums[start] , nums[end])
            start+=1
            end-=1
        elif(nums[i] + nums[start] + nums[end]>0):
            end-=1
        else:
            start+=1

-1 -1 2
-1 0 1
-1 0 1

# Find second largest and largest number from the given list without using sort?

### Method 1

In [18]:
arr=[10,25,14,6,8,1,78,521,8,654,1,2,521]
list=[]
for i in arr:
    if i not in list:
        list.append(i)
list.sort()      
print("Second largest:",list[-2])   
print("Largest:",list[-1])

Second largest: 521
Largest: 654

### Method 2

In [124]:
arr=[10,25,14,6,8,1,78,521,8,654,1,2,521]
largest=0
second_largest=0
for num in arr:
    if num>largest:
        second_largest=largest
        largest=num
    elif num>second_largest and num!=largest:
        second_largest=num
print(second_largest)    
print(largest)

521
654

In [9]:
max=list[0]
smax=0
list=[10,20,3,400,50]
for i in list:
    if(i>max):
        smax=max
        max=i
        print(max,smax)
    elif(i>smax):
        smax=i
print('second max', smax)

20 10
400 20
second max 50

## covert a list of lists into a single a flattened list.

In [125]:
list1=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
flatten=[x for i in list1 for x in i]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Dictionary

In [4]:
mydictionary={10:'isha','rollno':[90,100]}
#x=mydictionary.pop(10)
y=mydictionary.popitem()
print(mydictionary)
print(y)

{10: 'isha'}
('rollno', [90, 100])

In [127]:
mydictionary[11]='pp'
mydictionary['rollno']=99
print(mydictionary)

{10: 'isha', 11: 'pp', 'rollno': 99}

In [56]:
data=[(10,'isha'),(20,'aman')]
dict(data)

#type(data)

{10: 'isha', 20: 'aman'}

In [ ]:
# for i in range(1,10):
#     dict[key]=value     #dict[i]=1
#     {1:1 ,2:1 ,3:1}

# Set

In [ ]:
# datatype
# unique
# {}
# myset=set({})    #create empty set

In [129]:
myset={10,20,30,34,10}
print(myset)

{10, 20, 34, 30}

In [130]:
myset={10,20,30,34,10}
myset.update({100,200})
print(myset)

{34, 20, 100, 200, 10, 30}

In [131]:
myset.remove(100)
myset

{10, 20, 30, 34, 200}

In [132]:
myset={10,20,30,40,50}
myset2={30,40,50}
myset.difference(myset2)    #myset-myset2

{10, 20}

In [133]:
myset={10,20,30,40,50}
myset2={30,40,50}
myset.issubset(myset2)    ##myset ke sabhi element myset2 me nahi hai
#myset.issuperset(myset2)  #myset2 k sabhi element myset me hai

False

In [134]:
newlist=[]
for i in range(1,10):
    newlist.append(i)
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
[i for i in range(1,10) if i%2==0 ]  #list comprehension

[2, 4, 6, 8]

In [136]:
{i for i in range(1,10)}    #set comprehension

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [137]:
{i :1 for i in range(1,10)}    #dictionary comprehension

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

## list vs tuple

In [138]:
#list vs dictionary

In [139]:
a={1,2,3,4,5}
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [140]:
a.remove(4)
a

{1, 2, 3, 5, 6}

In [143]:
a={1,2,3,4,5}
b={2,3,8,9,10}
a.union(b)  #union---> |

{1, 2, 3, 4, 5, 8, 9, 10}

In [142]:
a={1,2,3,4,5}
b={2,3,8,9,10}
a.intersection(b)      #intersection--->&

{2, 3}

In [144]:
a.clear()
a

set()

In [55]:
a={1,2,3,4,5}
print(max(a))
print(min(a))
len(a)

5
1

5

In [149]:
a={1,2,3,4.5,6.7,'hello'}
a.remove('hello')
a

{1, 2, 3, 4.5, 6.7}

In [150]:
a={1,2,3,4,5}   #remove random element
a.pop()

1

In [151]:
a={1,2,3,4,5}
b={2,3,8,9,10}
b-a

{8, 9, 10}

In [152]:
a={1,2,3,4.5,6.7,'hello'}
print('hello'in a)

True

# Membership and identity

In [153]:
# Membership
60 in [1,2,3,4,60]    #it takes iteator

#60 in 40   #wrong

True

In [154]:
x=10
a=x
print(id(a),id(x))   #memory address same
x is a

140714199418056 140714199418056

True

In [155]:
#0-256
x=256
a=256
print(id(a),id(x))

140714199425928 140714199425928

In [156]:
x=257
a=x
print(id(a),id(x))
a is x

2026979926256 2026979926256

True

In [157]:
# python me call by object reference chalta hai.

# Functions

In [158]:
# collection of statment
# write logic --> use it multiple time
# code reuseability
# def function_name():
#     logic
# function_name()

In [159]:
# global variable hai agar vairable change kiya to function k bahar bhi consitent dikhta hai.
# local vairble me koi change krenge to wo global varibale me change nhi hoga

In [7]:
y=20
def func():
    x=10 
    print(y)    # local scope===variable declare inside the function
    print(x)
func()    
# print(x) 
print(y)

20
10
20

In [161]:
def func():
    global y    # global---> inside varible declare karne ke baad 
    x1=10       #            bhi bahar access kr sakte hai. 
    y=500
    print('local vairable',x1)
func()
print('outside function',y)

local vairable 10
outside function 500

In [162]:
#type hint
def func(z:int,y:str):
    print("hey",y,z)
func('sam',26)

hey 26 sam

# Practice question

### Q1
### l1=[10,20,300]
### l2=[40,50,60]
### {10:40,  20:50,  300:60}
### note using zip and without zip

In [164]:
l1=[10,20,300]
l2=[40,50,60]
dict={}
for i in range(len(l1)):
    dict[l1[i]]=l2[i]
print(dict)

{10: 40, 20: 50, 300: 60}

In [8]:
l1=[10,20,300]
l2=[40,50,60]
mylist=dict(zip(l1,l2))
print(mylist)

{10: 40, 20: 50, 300: 60}

### Q2 {name: marks .. . . . .  ======>} multiple elements
### now take a input from the user for score variable
### print the key who have more value then the score variable

In [167]:
dict={'sam':90,'pallavi':92,'rahul':85,'saurabh':89,'udit':75,'sonam':73}
marks=int(input("enter here marks: "))
for key,value in dict.items():
    if value >= marks:
        print(key,value)

enter here marks:  85

sam 90
pallavi 92
rahul 85
saurabh 89

### Q3 {10:19,  11:20,  13:NONE}
### delete the key-value pair where the value is none

In [3]:
dict={10:19, 11:20, 13:'none'}
dict.popitem()
print(dict)

{10: 19, 11: 20}

In [2]:
dict={10:19, 11:20, 13:'none'}
result={key:value for key,value in dict.items()if value!='none'}
print(result)

{10: 19, 11: 20}

### Q4: {"x":5, "y":7, "z":10}
### print new dictionary as square of each key {x:25, y:49,  z:100}

In [4]:
dict={"x":5, "y":7, "z":10}
square={key:value**2 for key,value in dict.items()}
print(square)

{'x': 25, 'y': 49, 'z': 100}

### Q5
### create a dictionary as cube of number from 1 to 5
### {1:1, 2:8, 3:27, 4:64, 5:125}
### Note use only thing we have learnt

In [5]:
dict={i:i**3 for i in range(1,6)}
print(dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Q6 {"x":5, "y":7, "z":10}
### get the ans in new dictionary {"average":7.3 ,   "max":10}

In [6]:
dict={"x":5, "y":7, "z":10}
total=0
largest=0
for i in dict.values():
    total=total+i
    result=total/len(dict)
    if i >largest:
        largest=i
new_dict={'average':result,'max':largest}      
print(new_dict)

{'average': 7.333333333333333, 'max': 10}

# function

In [7]:
def func(x,y):
    print('x=>',x,y)

func(19,20)   #position argument
func(x=10,y=19)   #keyword argument

x=> 19 20
x=> 10 19

In [18]:
def func():
    print('hey tushar')

a=func      #first class function
print(func,a)   # memory address print krega
a()

<function func at 0x000002194085A700> <function func at 0x000002194085A700>
hey tushar

In [19]:
# high order function
def test():
    print("this is test function")

def regex(x):
    print('this is regex function',x)

regex(test())

this is test function
this is regex function None

# *args

In [10]:
#*args==> vaiable length argument
def func(*a):
    print(a)
func()
func(10)
func(1,2,3,4,5)

()
(10,)
(1, 2, 3, 4, 5)

In [11]:
def func(x,y=10):    #default argument
    print('x=',x ,'y=',y)
func(15)

x= 15 y= 10

In [12]:
#kwargs-->keyword variable length argument
def func(**a):
    print(a)
func(userid=10) 
func(salary=199,userid=15)

{'userid': 10}
{'salary': 199, 'userid': 15}

# lambda function
# anonymous -->one line function
# lambda   parameter : expression

In [22]:
def func(x):
    print('abc')
print(func)

<function func at 0x0000021940DFA0C0>

In [14]:
print(lambda x:'abc')

<function <lambda> at 0x000002194085B2E0>

In [170]:
u1=lambda x: 'abc'
u1(10)

'abc'

In [171]:
# Access the last word.
u2=lambda x: x.split(' ')[-1]
u2('hey tushar this side')

'side'

In [23]:
def func(x):
    print('inside-',x.split(' ')[-1])
func('hey tushar this side')

inside- side

In [173]:
#'hey tushar here user'  ---> 'user tushar here hey'
mylist='hey tushar here user'.split(' ')
print(mylist[-1],mylist[1:3],mylist[0])

user ['tushar', 'here'] hey

In [174]:
def func(a):
    print('inside',a+5)
print(func(18))

inside 23
None

In [175]:
#return--> jo bhi logic likha hai us logic ki value ko vapas dena jise use use kiya jaa sake

In [176]:
def func(a):
    return'inside',a+5   # return-->value kisi variable m assign ho jaati h 
                        #   aur us value ko use kiya jaa sakte hai.
print(func(18))

('inside', 23)

In [177]:
def func(a):
    return a+5    # value ko store krna . 
out=func(18)
print(out)

23

# Map & Filter

In [178]:
def func(a):
    return a+5
mylist=[10,102,3,4,56]
x=map(func,mylist)
print(next(x))
print(next(x))
print(next(x))

15
107
8

In [179]:
mylist=[10,102,3,4,56]
x=map(lambda a:a+5,mylist)
print(next(x))
print(next(x))

15
107

In [180]:
mylist=[1,2,3,4,5,6]
x=map(lambda a:a%2==0,mylist)
print(next(x))
print(next(x))

False
True

In [3]:
mylist=[1,2,3,4,5,6]
result=list(map(lambda a:a%2==0,mylist))
print(result)

[False, True, False, True, False, True]

In [2]:
mylist=[1,2,3,4,5,6]
list(filter(lambda a:a%2==0,mylist))

[2, 4, 6]

# Generator

In [8]:
def func():
    print('first line')
    yield 1
#func()     ## kisi variable me store krna important hai
gen=func() 
print(next(gen))

first line
1

In [3]:
def func():
    print('first line')
    yield 1
    print('second line')
    yield 2
gen=func() 
print(next(gen))    
print(next(gen)) 
# for i in gen:        # we call next value through loop
#     print(i)

first line
1
second line
2

# Fibbonaci series

In [12]:
def func():
    a=0
    b=1
    for i in range(1,10):
        yield a
        c=a+b
        a=b
        b=c
gen=func()        
for i in gen:
    print(i)

0
1
1
2
3
5
8
13
21

# iterator ---> value ko access karna
# iterable(datatype)---> value per loop chalna

In [13]:
a=0
b=1
for i in range(1,10):
        print(a)
        c=a+b
        a=b
        b=c

0
1
1
2
3
5
8
13
21

# Decorator

In [5]:
def func_add(num):
    return num+1
x=func_add
x(10)

11

In [19]:
def func_add(num):
    def add_one(n):
        print('n value',n)
x=func_add(10)                 ##return nhi diya
print(x)

None

In [17]:
def func_add(func):
    def add_one():
        result=func()
        result2=result.upper()
        return result2

    return add_one

@func_add         #Decorator
def test():
    return 'hello tushAR'

test()

'HELLO TUSHAR'

# Closures

In [7]:
def func_add(num):
    def add_one(n):
        print('n value',n,num)  # we access (num) value which is
    return  add_one             #  the parameter of outer function
  
x=func_add(10)                 
x(19)

n value 19 10

In [15]:
def func_add(func):
    def add_one(n):
        print('n value',n,func)
    return add_one  

#normal function
def test():
    return 'hey'

output=func_add(10)
output(19)

n value 19 10

In [16]:
def func_add(func):
    def add_one():
        print('inside add_one func value:',func())
    return add_one  

#normal function
def test():
    return 'hey'

output=func_add(test)
output()

inside add_one func value: hey

In [21]:
def func_add(func):
    def add_one():
        result=func()
        result2=result.upper()
        return result2
    return add_one    

#normal function
def test():
    return "hello tushar"

output=func_add(test)
output()

'HELLO TUSHAR'

# List question

### 1. Write a Python program to find the maximum element in a list of numbers without
### max functions
### numbers = [10, 20, 4, 45, 99]
### The maximum element is: 99

#### METHOD--1.

In [20]:
numbers = [10, 20, 4, 45, 99]
numbers.sort()
print('Largest numbers:',numbers[-1])

Largest numbers: 99

#### METHOD--2.

In [21]:
numbers = [10, 20, 4, 45, 99]
largest=0
for num in numbers:
    if num>largest:
        largest=num
print('Largest Number:',largest)

Largest Number: 99

### 2. Write a Python program to sum all the elements in a list of numbers.
### a. numbers = [10, 20, 30, 40]
### b. The sum of all elements is: 100

In [26]:
numbers = [10, 20, 30, 40]
sum=0
for num in numbers:
    sum=sum+num
print('sum of element is:',sum)

sum of element is: 100

### 3. Write a Python program to reverse a list without reverse or slicing operator
### a. numbers = [1, 2, 3, 4, 5]
### b. Reversed list: [5, 4, 3, 2, 1]

In [52]:
numbers = [1, 2, 3, 4, 5]
start=0
end=len(numbers)-1
while(start < end):
    numbers[start], numbers[end]= numbers[end], numbers[start]
    start +=1
    end -=1
print(numbers)

[5, 4, 3, 2, 1]

### 4. Write a Python program to sort a list in ascending order without sort functions

In [38]:
list=[10,34,9,12,5,56,1,45,23,43,17,19]
for i in range(0,len(list)):
    for j in range(i+1,len(list)):
        if list[j]<list[i]:
            list[i],list[j]=list[j],list[i]
print(list)

[1, 5, 9, 10, 12, 17, 19, 23, 34, 43, 45, 56]

In [11]:
list=[10,34,9,12,5,56,1,45,23,43,17,19]
count=0
while(len(list)>count+1):
    if list[count]>list[count+1]:
        list[count],list[count+1]=list[count+1],list[count]
        if count>0:
            count=count-1
    else:
       count=count+1
print(list)

[1, 5, 9, 10, 12, 17, 19, 23, 34, 43, 45, 56]

### 5. Write a Python program to remove duplicates from a list while maintaining the order
### of elements.
### a. numbers = [1, 2, 2, 3, 4, 4, 5]
### b. List after removing duplicates: [1, 2, 3, 4, 5]

In [44]:
numbers = [1, 2, 2, 3, 4, 4, 5]
list=[]
for num in numbers:
    if num not in list:
        list.append(num)
print(list)

[1, 2, 3, 4, 5]

### 6. Write a Python program to find all pairs of numbers in a list that add up to a specific
### target sum.
### a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
### b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]

In [54]:
numbers = [1, 2, 3, 4, 3, 5, 6]
numbers.sort()
pairs=[]
target=6
start=0
end=len(numbers)-1
for num in range(0,len(numbers)):
    if numbers[start]+numbers[end]==target:
        pairs.append((numbers[start], numbers[end]))
        start+=1
        end-=1
    elif numbers[start]+numbers[end]>target:
        end-=1
    else:
        start+=1
print('pairs:',pairs)

pairs: [(1, 5), (2, 4), (3, 3), (3, 3), (4, 2), (5, 1)]

### 7. Write a Python program to flatten a nested list (list within lists) into a single list.
### a. nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
### b. Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
nested_list = [1, [2, 3], [4, [5, 6], 7,8]]
new_list=[]
for i in nested_list:
    if type(i)==list:     
        for item in i:
            if type(item)==list:
                new_list.extend(item)
            else:
                new_list.append(item)
    else:
        new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8]

### 8. Write a Python program to find the sum of the elements in a list, excluding the largest
### and smallest element. Don’t use max or min functions
### a. numbers = [1, 2, 3, 4, 5]
### b. Sum excluding the largest and smallest element: 9

In [27]:
numbers = [1, 2, 3, 4, 5]
largest=0
smallest=numbers[0]
for num in numbers:
    if num>largest:
        largest=num
    elif num<smallest:   
         smallest=num
print('largest element:',largest)         
print('smallest element:',smallest)

numbers.remove(largest)
numbers.remove(smallest)
sum=0
for num in numbers:
    sum=sum+num
print('sum of numbers:',sum)

largest element: 5
smallest element: 1
sum of numbers: 9

### 9. Write a Python program to check if a list is a palindrome (reads the same backward
### as forward) using two pointer approach
### a. numbers = [1, 2, 3, 2, 1]
### b. True

In [14]:
numbers = [1, 2, 3, 2, 1]
start=0
end=len(numbers)-1
while start<end:
    if numbers[start]!= numbers[end]:
        print('Not palindrome')
        break
    start+=1
    end-=1 
print('palindrome number')

palindrome number

### 10. Write a function to remove duplicate elements from a list.
### a. numbers = [1, 2, 3, 2, 4, 5, 1, 6]
### b. [1, 2, 3, 4, 5, 6]

In [30]:
# Method--1.
numbers = [1, 2, 3, 2, 4, 5, 1, 6]
list=[]
for num in numbers:
    if num not in list:
        list.append(num)
print(list)

[1, 2, 3, 4, 5, 6]

In [32]:
# Method-2. using set
numbers = [1, 2, 3, 2, 4, 5, 1, 6]
result=set(numbers)
print(result)

{1, 2, 3, 4, 5, 6}

### 11. Find Common Elements in Two Lists
### a. list1 = [1, 2, 3, 4, 5]
### b. list2 = [3, 4, 5, 6, 7]
### c. Result: [3, 4, 5]

In [36]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
result=[]
for num in list2:
    if num not in list1:
        list1.append(num)
    else:
        result.append(num)
print(result)

[3, 4, 5]

### 12. Find the Longest Word in a List
### a. words = ["apple", "banana", "strawberry", "kiwi"]
### b. Strawberry

In [27]:
words = ["apple", "banana", "strawberry", "kiwi"]
result=''
for i in words:     #i=apple,banana,strawberry,kiwi
    if len(i)>len(result):
        result=i
print(result)

strawberry

### 14. Find Missing Number in a List
### You are given a list of n-1 numbers in the range 1 to n. One number is missing
### from the sequence. Find the missing number.
### a. numbers = [1, 2, 4, 5, 6]
### b. 3

In [2]:
numbers = [1, 2, 4, 5, 6]
i=1
while i<=len(numbers):
    if i not in numbers:
        print(i)
    i+=1

3

### 15. Find the First Non-Repeating Element
### Given a list of integers, find the first element that appears only once.
### a. numbers = [4, 5, 1, 2, 0, 4, 5, 2]
### b. Expected Output: 1

In [7]:
numbers = [4, 5, 1, 2, 0, 4, 5, 2]
for num in numbers:
    if numbers.count(num)==1:
       print(num)
       break

1

### 16. Move All Zeros to the End
### Given a list of integers, move all zeros to the end while maintaining the relative order
### of non-zero elements. Don’t use any inbuilt functions
### a. numbers = [0, 1, 0, 3, 12]
### b. [1, 3, 12, 0, 0]

In [9]:
# Method 1.
numbers = [0, 1, 0, 3, 12]
for i in numbers:
    if i==0:
        numbers.remove(i)
        numbers.append(i)
print(numbers)

[1, 3, 12, 0, 0]

In [2]:
# Method2.
numbers = [0, 1, 0, 3, 12]
list=[]
for num in numbers:
    if num!=0:
        list.append(num)
for num in numbers:        
    if num==0:
        list.append(num)
print(list)

[1, 3, 12, 0, 0]

### 17. Find Elements Greater Than Their Left Neighbor
### a. numbers = [1, 3, 2, 6, 5, 8, 7]
### b. [3, 6, 8]

In [1]:
numbers = [1, 3, 2, 6, 5, 8, 7]
list=[]
for i in range(1,len(numbers)):
    if numbers[i] > numbers[i-1]:
        list.append(numbers[i])
print(list)

[3, 6, 8]

### 18. Find Triplets That Sum to Zero
### Given a list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.
### a. numbers = [-1, 0, 1, 2, -1, -4]
### b. Expected Output: [(-1, -1, 2), (-1, 0, 1)]

In [4]:
numbers = [-1, 0, 1, 2, -1, -4]
numbers.sort()

for i in range(0,len(numbers)):
    start=i+1
    end=len(numbers)-1
    while (start<end):
       if numbers[i] + numbers[start] + numbers[end]==0:
          print(numbers[i],numbers[start],numbers[end])
          start+=1
          end-=1
       elif numbers[i] + numbers[start] + numbers[end]>0:
           end-=1

       else:
           start+=1

-1 -1 2
-1 0 1
-1 0 1

# OOPS
## object--> instance of the class
## real time entity--> characterstic , behaviour
## class--> is blueprint for an object

In [3]:
class StudentRegister:
    sName='aman'
    sEmail='aman@gamil.com'

#object?-: object=class()
s1=StudentRegister()
print(s1.sName)
print(s1.sEmail)

aman
aman@gamil.com

In [20]:
class BikeDesign:
    company='hero'   #class variable
    model='splendor'

b1=BikeDesign()
print(b1.company,BikeDesign.company)   # object access   ,  class access

b1.company='bajaj'
print('after change by object',b1.company,BikeDesign.company) #change class varible from object --> sirf object ke liye change hoga.

BikeDesign.company='bajaj'
print('after change by object',b1.company,BikeDesign.company) #change class varible from className--> class m change hoga.

hero hero
after change by object bajaj hero
after change by object bajaj bajaj

In [4]:
class BikeDesign:
    company='hero'
    def __init__(self):
        print('bike ka model bta do',self)
 
b1=BikeDesign()
print('object ki value',b1)

bike ka model bta do <__main__.BikeDesign object at 0x000002EB12543E00>
object ki value <__main__.BikeDesign object at 0x000002EB12543E00>

In [22]:
class BikeDesign:
    company='hero'
    def __init__(self,model):
        print('bike ka model bta do: ',model)

b1=BikeDesign('splendor')
print('object ki value',b1)

bike ka model bta do:  splendor
object ki value <__main__.BikeDesign object at 0x0000027E196DEF90>

In [25]:
class BikeDesign:
    company='hero'
    def __init__(self,model):
        self.model=model   #self.model=> instance , model=>local variable

b1=BikeDesign('splendor')
print(b1.model)
b2=BikeDesign('shine')
print(b2.model)

splendor
shine

In [7]:
class BikeDesign:
    company='hero'
    def __init__(self,model):
        self.model=model   #self.model=> instance , model=>local variable
       

b1=BikeDesign('splendor')
print(b1.model,b1.company)  # b1.company---> class varible ko object bhi access kr sakta hai.

splendor hero

In [26]:
class Student:
    college='regex'
    def __init__(self,sid,name,email):
        self.sid=sid
        self.name=name
        self.email=email

    def info(self):
        print('student details',self.sid,self.name)


s1=Student(10,'tushar','tushar@gamil.com')  
s1.info()
s2=Student(11,'shubham','shubham@gamil.com') 
s2.info()

student details 10 tushar
student details 11 shubham

# Inheritance

In [17]:
class Student:
    college='regex'
    def __init__(self,sid,name,email):
        self.sid=sid
        self.name=name
        self.email=email

class CollegeAdmission(Student):
    def __init__(self,sid,name,email,subject):
      self.subject=subject
      super().__init__(sid,name,email)

c1=CollegeAdmission(19,'yash','yash@gmail.com','science') 
c1.email

'yash@gmail.com'

# Polymorphism

# method overriding

In [27]:
class student:
    college='regex'
    def info(self):
        print('this is student class')
class studentRegister(student):
    def info(self):
        print('this is student register class',student.college)

sr1=studentRegister()
sr1.info()

this is student register class regex

# operator overloading

In [7]:
class addno:
    def __init__(self,num,num1):
        self.total=num+num1

    def __repr__(self):
       return f'ADDno has a total of {self.total}'
a1=addno(10,20) 
a1

ADDno has a total of 30

# dunder fucntion

In [29]:
class addno:
    def __init__(self,num,num1):
        self.total=num+num1

    def __add__(self,x):  #x,y==overloading 
        print('hey hello')

    def __gt__(self,y): 
        print('greater than value')
a1=addno(10,20) 
a2=addno(15,20)
a1+a2   #a1.__add__(a2)
a1>a2   # a1__gt__(a2)

hey hello
greater than value

# Private modifiers

In [44]:
class register:
    __amount=100   #private variable
    company='regex'     #within the class

    def abc(self):
       print('amount is',self.__amount)


r1=register()
r1.abc()
#r1.__amount   #object bhi access nhi kr sakta 
r1._register__amount    #_class __variable

amount is 100

100

# Abstraction

In [5]:
from abc import ABC,abstractmethod
#abstract base class
class testTemplate(ABC):
    years=2025
    @abstractmethod
    def marks(self):
        pass
class pythonTest(testTemplate): 
    def marks(self):
        print("python marks is 20")

pt1=pythonTest()
pt1.marks()
# pt2=testTemplate()  #abstract class ka object nhi banta.
# pt2.marks()

python marks is 20

In [3]:
list=[0,1,0.77,1,2]
list2=[]
for i in list:
    if list.count(i)==1:
        list2.append(i)

print(list2)

[0, 0.77, 2]

In [11]:
n=5
for i in range(n):
    a=5
    for j in range(i,n):
        print(a,end='')
        a=a-1
    print()

54321
5432
543
54
5

In [14]:
list=[10,20,30,20,50,40]
new_list=[]
for i in range(0,len(list)):
    for j in range(i+1,len(list)):
       if(list[i]==list[j]):
           if(list[i] not in new_list):
               new_list.append(list[i])
print(new_list)

[20]

In [2]:
list=[10,20,30,20,10]
index=0
a=0
end=len(list)-1
while(index < end):
    if(list[index] != list[end]):
        a=5
        break
    index+=1
    end-=1

if(a==0):
    print('palindrome list')

else:
    print('not palindrome')

palindrome list

In [4]:
str='mama'
a=0
start=0
end=-1
while(start < end):
    if(str[start] != str[end]):
        a=4
        break
    start+=1
    end-=1
if(a==0):
    print('palindrom')
else:
    print('not palindrome')

palindrom

In [47]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ', end="")
    for j in range(i,n):
        print('*', end='')
    print( )  
for i in range(n):    
    for j in range(i,n):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    print( )

 *****
  ****
   ***
    **
     *
     *
    **
   ***
  ****
 *****

In [59]:
n=5
for i in range(n):
    a=5
    for j in range(i,n):
        print(a,end='')
        a=a-1
    print()

54321
5432
543
54
5

In [65]:
n=5
for i in range(n):
    a=n-i
    for j in range(a):
        print(a-j,end='')
    print()

54321
4321
321
21
1

In [86]:
n=5
a=5
for i in range(n):
    for j in range(i,n):
        print(a,end=' ')
        a=a-1
    print()

5 4 3 2 1
0 -1 -2 -3
-4 -5 -6
-7 -8
-9